body {
  margin: 0;

    /*background-color: #000000;*/
    
}
body

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
}
li{
  list-style-type: none;
}
